body {
  background: #bac4ce;
}
h1 {
  font-size: 48px;
}
h1,
p {
  text-align: center;
  display: block;
}

footer {
  text-align: center;
  display: block;
}
footer a {
  margin-right: 20px;
}
.pastry {
  padding: 20px;
  display: flex;
}
.chocolate {
  border-radius: 10px;
  max-width: 860px;
  margin: auto;
}
